#* @vtlvariable name="requestContext" type="com.atlassian.jira.util.velocity.VelocityRequestContext" *#
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#* @vtlvariable name="atl_token" type="java.lang.String" *#
#* @vtlvariable name="action" type="com.linkedplanet.jmenu.impl.config.MenuPluginConfigAction" *#

#set($title =
    "$i18n.getText('jmenu.admin-section.label') - $i18n.getText('jmenu.config-item.label')")

<html>
<head>
    <title>$title</title>

    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="admin_plugins_menu/jmenu.admin-section"/>
    <meta name="admin.active.tab"
          content="com.linked-planet.jmenu:jmenu.admin-item"/>
</head>

<body>

<form class="aui"
      method="POST"
      action="$requestContext.baseUrl/secure/MenuPluginConfigAction.jspa">

    #macro(select $id $idToNameMap $currentValue $required)
        #* @vtlvariable name="idToNameMap" type="java.util.Map<java.lang.Integer, java.lang.String>" *#
        #* @vtlvariable name="validationAttributes" type="java.lang.String" *#
        #* @vtlvariable name="currentValue" type="java.lang.String" *#
        <div class="field-group">
            <label for="$id">$action.getI18nFieldLabel($id)
                #if ($required)
                    <span class="aui-icon icon-required">(required)</span>
                #end
            </label>
            <select class="select" id="$id" name="$id">
                <option name='none' value=null>- unbestimmt -</option>
                #foreach( $iter in $idToNameMap.keySet())
                    <option name='$idToNameMap.get($iter)' value='$iter' #if( $iter==$currentValue) selected {#end}>
                        $idToNameMap.get($iter)
                    </option>
                #end
            </select>
            #if ($action.getI18nFieldDescription($id))
                <div class="description">$action.getI18nFieldDescription($id)</div>
            #end
            #* @vtlvariable name="fieldErrors" type="java.util.Map<java.lang.String, java.lang.String>" *#
            #set($fieldErrors = $action.getErrors())
            #if ($fieldErrors)
                #if ($fieldErrors.get("$id"))
                    <div class="error">$fieldErrors.get("$id")</div>
                #end
            #end
        </div>
    #end

    #macro(multiselect $id $idToNameMap $currentValues $required)
        #* @vtlvariable name="idToNameMap" type="java.util.Map<java.lang.Integer, java.lang.String>" *#
        #* @vtlvariable name="validationAttributes" type="java.lang.String" *#
        #* @vtlvariable name="currentValues" type="java.util.List<java.lang.String>" *#
        <div class="field-group">
            <label for="$id">$action.getI18nFieldLabel($id)
                #if ($required)
                    <span class="aui-icon icon-required">(required)</span>
                #end
            </label>
            <select class="select" id="$id" name="$id" multiple size="8">
                <option name='none' value=null>- unbestimmt -</option>
                #foreach( $iter in $idToNameMap.keySet())
                    <option name='$idToNameMap.get($iter)' value='$iter' #if( $currentValues.contains($iter))
                            selected {#end}>
                        $idToNameMap.get($iter)
                    </option>
                #end
            </select>
            #if ($action.getI18nFieldDescription($id))
                <div class="description">$action.getI18nFieldDescription($id)</div>
            #end
            #* @vtlvariable name="fieldErrors" type="java.util.Map<java.lang.String, java.lang.String>" *#
            #set($fieldErrors = $action.getErrors())
            #if ($fieldErrors)
                #if ($fieldErrors.get("$id"))
                    <div class="error">$fieldErrors.get("$id")</div>
                #end
            #end
        </div>
    #end

    #macro(input $id $css $currentValue $required)
        <div class="field-group">
            <label for="$id">$action.getI18nFieldLabel($id)
                #if ($required)
                    <span class="aui-icon icon-required">(required)</span>
                #end
            </label>
            <input class="text $css" name="$id" id="$id" value="$currentValue"/>
            #if ($action.getI18nFieldDescription($id))
                <div class="description">$action.getI18nFieldDescription($id)</div>
            #end
            #* @vtlvariable name="fieldErrors" type="java.util.Map<java.lang.String, java.lang.Iterable<java.lang.String>>" *#
            #set($fieldErrors = $action.getFieldErrors())
            #if ($fieldErrors)
                #if ($fieldErrors.get("$id"))
                    #foreach ($error in $fieldErrors.get("$id"))
                        <div class="error">$error</div>
                    #end
                #end
            #end
        </div>
    #end

    #macro(area $id $currentValue $required $exampleLink)

    #end

    #macro(password $id $css $currentValue $required)
        <div class="field-group">
            <label for="$id">$action.getI18nFieldLabel($id)
                #if ($required)
                    <span class="aui-icon icon-required">(required)</span>
                #end
            </label>
            <input class="text" type="password" $css name="$id" id="$id" value="$currentValue"/>
            #if ($action.getI18nFieldDescription($id))
                <div class="description">$action.getI18nFieldDescription($id)</div>
            #end
        </div>
    #end

    <div style="margin-bottom: 30px">
        <h2>$i18n.getText("jmenu.config-item.label")</h2>
        <small >$i18n.getText("jmenu.config-item.description")</small>
    </div>

    <fieldset>
        #* @vtlvariable name="menuTitle" type="java.lang.String" *#
        #input("menuTitle" "" $menuTitle true)

        #* @vtlvariable name="menuConfig" type="java.lang.String" *#
        #set($menuConfigId = "menuConfig")
        <div class="field-group">
            <label for="$menuConfigId">$action.getI18nFieldLabel($menuConfigId)
                <span class="aui-icon icon-required">(required)</span>
            </label>
            <textarea rows="25"
                      class="textarea full-width-field"
                      name="$menuConfigId"
                      id="$menuConfigId"
                      style="font-family: SFMono-Medium,SF Mono,Segoe UI Mono,Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace"
            >$menuConfig</textarea>
            <div class="description">
                $action.getI18nFieldDescription($menuConfigId) (<a href="/download/resources/com.linked-planet.jmenu:jmenu/files/example-menu-config.txt" target="_blank">$i18n.getText("jmenu.plugin-config.menuConfig.example.label")</a>)
            </div>
            #* @vtlvariable name="fieldErrors" type="java.util.Map<java.lang.String, java.lang.Iterable<java.lang.String>>" *#
            #set($fieldErrors = $action.getFieldErrors())
            #if ($fieldErrors)
                #if ($fieldErrors.get("$menuConfigId"))
                    #foreach ($error in $fieldErrors.get("$menuConfigId"))
                        <div class="error">$error</div>
                    #end
                #end
            #end
        </div>
    </fieldset>

    <input type="hidden" name="atl_token" value="$atl_token"/>

    <div class="buttons-container">
        <button class="aui-button aui-button-primary">$i18n.getText("jmenu.save.label")</button>
        <button class="aui-button aui-button-link" type="reset">$i18n.getText("jmenu.abort.label")</button>
    </div>
</form>

</body>
</html>
